<div id="masthead" class="bg">
    <div class="container" class="bg">
        <div class="row">
            <div class="col-md-7">
                <h1>Good Reads
                </h1>
            </div>
        </div>
    </div>
    <div class="container" class="bg">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body-home">



                        <!--/stories-->
                        <img src="../../assets/images/home- small.png">
                        <div class="ad">
                            <br><br><br><br>
                            <h3> &nbsp; &nbsp;Access Free Books</h3>
                            <h3> &nbsp; &nbsp;From Best Authors</h3>
                            <h3> &nbsp; &nbsp;Add your Favourite Authors and Books</h3> <br><br> &nbsp;&nbsp;
                            &nbsp;
                            <a (click)="loginAlert()" class="btn btn-primary pull-right btnNext"> &nbsp; &nbsp;
                                <b>Explore</b>
                                <b> Now!</b> &nbsp; &nbsp;<i class="glyphicon glyphicon-chevron-right"></i></a>
                        </div>

                        <!--/stories-->
                    </div>
                </div>
            </div>
            <!--/col-12-->
        </div>
    </div>
</div>